$green: #166527;
$green2: #233d2c;
$darkGreen: #1a3724;
$lightGreen: #d7fff1;

$orange: #f5b963;

$white: white;
$white2: #eaeaea;
$white3:#ccc;
$whiteGreen: #e0f2eb;

$black: black;

$gray: #333333;
$gray2: #727d7d;

$darkBackground: #2b3030;

$shadow: 0px 4px 4px 0px #00000040;
$shadow2:
  0px 12px 24px 0px #272d4d33,
  0px 1px 2px 0px #1e1e2033;
