$green: rgb(0, 150, 0);
$darkGreen: rgb(0, 35, 0);
$lightGreen: #d7fff1;

$orange: rgb(246, 177, 49);

$white: white;
$whiteGreen: #e0f2eb;

$gray: #333333;
$gray2: #727d7d;

$darkBackground: #2b3030;

$shadow: 0px 4px 4px 0px #00000040;
$shadow2:
  0px 12px 24px 0px #272d4d33,
  0px 1px 2px 0px #1e1e2033;
