@import "styles/colors.module.scss";

.searchBarContainer {
  box-sizing: border-box;
  padding: 33px 28px;
  background-color: $white;
  position: relative;
  transform: translateY(-30px);
  border-radius: 4px;
  box-shadow: $shadow2;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 248px;

  .searchBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .filterOptionsContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    column-gap: 30px;

    .filterContainer {
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      width: 557px;
      min-height: 54px;
      padding: 7px 10px 7px 16px;

      @media screen and (max-width: 768px) {
        select {
          width: 100%;
          height: 54px;
        }
      }
    }
  }
}

.similarsContainer {
  position: relative; // Подсказки появятся прямо под строкой поиска
  background-color: white; // Фон для подсказок
  border: 1px solid #ccc; // Граница
  z-index: 10; // Чтобы подсказки отображались поверх других элементов
  width: 100%; // Чтобы подсказки занимали всю ширину строки поиска
  max-height: 100px; // Максимальная высота для прокрутки
  overflow-y: auto; // Добавляем прокрутку, если содержимое превышает максимальную высоту
}

.similarItem {
  padding: 10px; // Отступы для элемента подсказки
  cursor: pointer; // Указатель курсора
  &:hover {
    background-color: #f0f0f0; // Изменяем фон при наведении
  }
}

@media screen and (max-width: 1200px) {
  .searchBarContainer {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .searchBarContainer {
    padding: 20px;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .searchBarContainer {
    padding: 15px;
    max-width: 480px;
    min-height: auto;
    max-height: none;
  }
  .filterContainer {
    flex-direction: column;
    height: 92px;
    gap: 10px;
  }
}
