@import "styles/colors.module.scss";

.searchInput {
  box-sizing: border-box;
  padding: 7px 10px 7px 16px;
  height: 54px;
  background: $white2;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}
