@import "styles/colors.module.scss";

.searchInput {
  box-sizing: border-box;
  padding: 7px 10px 7px 16px;
  height: 54px;
  background: $white2;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.similarsContainer {
  position: relative; // Подсказки появятся прямо под строкой поиска
  background-color: white; // Фон для подсказок
  border: 1px solid #ccc; // Граница
  z-index: 10; // Чтобы подсказки отображались поверх других элементов
  width: 100%; // Чтобы подсказки занимали всю ширину строки поиска
  max-height: 100px; // Максимальная высота для прокрутки
  overflow-y: auto; // Добавляем прокрутку, если содержимое превышает максимальную высоту
}

.similarItem {
  padding: 10px; // Отступы для элемента подсказки
  cursor: pointer; // Указатель курсора
  &:hover {
    background-color: #f0f0f0; // Изменяем фон при наведении
  }
}
