@import "styles/colors.module.scss";

.CardInfoContainer {
  box-sizing: border-box;
  padding: 33px 28px;
  background-color: $white;
  position: relative;
  transform: translateY(-30px);
  border-radius: 4px;
  box-shadow: $shadow2;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 248px;
  max-height: 666px;

  @media screen and (max-width: 1024px) {
    padding: 20px;
    max-width: 700px;
  }

  @media screen and (max-width: 768px) {
    padding: 15px;
    max-width: 420px;
    min-height: auto;
    max-height: none;
  }
}

.CardInfo {
  display: flex;
  gap: 30px;

  & > :first-child {
    width: 557px;
    height: 600px;

    & img {
      height: 100%;
      object-fit: fill;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 26px;

    & > :first-child {
      color: $gray2;
      font-size: 12px;
      & > h3 {
        color: $gray;
        font-size: 20px;
      }
    }

    & > :last-child {
      color: $darkBackground;
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .CardInfo {
    flex-direction: column;
    & > :first-child {
      width: 100%;
      height: 367px;

      img {
        width: 100%;
        background-size: 100% 100%;
      }
    }
  }
}
