@import "styles/colors.module.scss";

.green {
  color: $green;
}

.darkGreen {
  color: $darkGreen;
}

.orange {
  color: $orange;
}

.title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 360px;
  box-shadow: $shadow;
  line-height: 25px;

  h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 600;
  }
}

.pictureBlockTitle {
  box-sizing: border-box;
  padding: 119px 360px;
  background-image: linear-gradient(90deg, rgba(46, 46, 53, 0.92) 43.03%, rgba(0, 0, 0, 0) 77.53%),
    url("assets/books.png");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  // background-size: contain; // kомает все к хуям

  .textContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 544px;
    color: $white;

    .titleContent {
      font-size: 44px;
      line-height: 56px;
      font-weight: 700;
    }

    .content {
      line-height: 28px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .title {
    padding: 20px 250px;
  }

  .pictureBlockTitle {
    padding: 80px 250px;

    .textContent {
      .titleContent {
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    padding: 20px 200px;
    h1 {
      font-size: 24px;
    }
  }
  .pictureBlockTitle {
    padding: 63px 40px;
    background-size: 100% 100%;

    .textContent {
      .titleContent {
        font-size: 44px;
        line-height: 56px;
      }
    }
  }
}
